<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>160460510616-9rvb76hqsnad60d8v81d61j2fdl2pmme.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.160460510616-9rvb76hqsnad60d8v81d61j2fdl2pmme</string>
	<key>API_KEY</key>
	<string>AIzaSyDigjBNZ5LDMlZ2nhALRPdRMH5NJSoCQYo</string>
	<key>GCM_SENDER_ID</key>
	<string>160460510616</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.diajidata.muka</string>
	<key>PROJECT_ID</key>
	<string>muka-5a505</string>
	<key>STORAGE_BUCKET</key>
	<string>muka-5a505.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:160460510616:ios:0f5a104186923907</string>
	<key>DATABASE_URL</key>
	<string>https://muka-5a505.firebaseio.com</string>
</dict>
</plist>